$bgcolor: #121212;
$color: white;
$font: "roboto";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  color: $color;
}
.border {
  border: 2px solid red;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.invert {
  filter: invert(1);
}

.bgcolor {
  background-color: $bgcolor;
}

.p1 {
  background-color: $bgcolor;
  border-radius: 7px;
}
